body {
  background-color: #a60000;
}
h1 {
  color: white;
}
.main {
  color: white;
}
.perv {
  margin-top: 10px;
  font-size: 30px;
  color: white;
}
.tre {
  font-size: 17px;
  color: white;
}
.vtor {
  color: silver;
}
