body {
  background: url(https://img.freepik.com/free-vector/camouflage-seamless-pattern-vector-illustration_264223-55.jpg);
}
h1 {
  color: silver;
}
h4 {
  color: silver;
}
h2 {
  color: silver;
}
h3 {
  color: silver;
}
h5 {
  background-color: silver;
  color: silver;
}
