body {
  background-color: #cd0074;
}

h1 {
  color: white;
  background-color: #cd0074;
}

p {
  font-size: 25px;
  background-color: #2716c0;
}

img {
  font-size: full;
}

.text {
  color: blanchedalmond;
}
a {
  font-size: 20px;
}
